{% extends 'blog/base.html' %}
{% load static %}
{% block x %}
<center>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


{% endblock %}

{% block content %}
<div class="container">
     
    <div class="row" >
        <div class="col  m2">

        </div>
            <div class="col m6 "> 
                 <form method="post" class="text-center">
                     {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn waves-effect waves-light"  type="submit" name="action">submt </button>
            </div>
        <div class="col m3">

        </div>
   
</div>
</div>
</center>
{% endblock %}

{% block scripts %}    
       
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
       
       {% endblock %}
   
    
