{% load static %}
<html>
        
    <head>
       
        <title>Django Girls blog</title>
        {% block x %}    
         <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        
        {% endblock %}
        {% block scripts %}    
       
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
       <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
       {% endblock %}
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </script>
        
    
    <body >
            {% block navbar %}    
       
            <nav>
                    <div class="nav-wrapper">
                      
                      <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="/">Bloglar</a></li>
                        <li><a href="{% url 'post_new' %}">Yeni Blog</a></li>
                        <li><a href="{% url 'login' %}">Giriş yap</a></li>
                        <li><a href="{% url 'logout' %}">Çıkış Yap</a></li>
                        <li><a href="{% url 'signup'  %}">Kayıt Ol</a></li>
                        
                      </ul>
                    </div>
                    
            </nav>
                  {% endblock %}
        
            <!-- <div class="page-header">
                    {% if user.is_authenticated %}
                  
                    {% endif %}
                <h1><a href="/">Django Girls Blog</a></h1>
            </div> -->
         
             
                    
                      
                            {% block content %}
                            {% endblock %}
                    
            
                
          
        </body>
        <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Footer Content</h5>
                  <p class="grey-text text-lighten-4">Bu sitede verimli blog yazıları okuyabilirsiniz. Teşekkürler...</div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Links</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Bloglar</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'post_new' %}">Yeni Blog</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'login' %}">Giriş yap</a></li>
                    <li><a  class="grey-text text-lighten-3" href="{% url 'logout' %}">Çıkış Yap</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2019 Copyright Blog
              <a class="grey-text text-lighten-4 right" href="#!">Diğer Linkler</a>
              </div>
            </div>
          </footer>
              
     
</html>